.app-main-wrapper {
  > div {
    padding: 20px;
  }
}

.col--left {
  float: left;
}

.col--right {
  float: right;
}

.clearfix {
  zoom: 1;
  &:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
  }
}
